<?php

return [
    'application_orchestration' => [
        'application' => [
            'build' => [
                'plans' => [
                    'default' => [
                        'clone-repo' => \ConductorAppOrchestration\Build\Command\CloneRepoCommand::class,
                        'composer-install' => 'composer install --optimize-autoloader',
                        'enable-production-mode' => 'bin/magento deploy:mode:set production -s',
                        [
                            'compile-di' => 'bin/magento setup:di:compile',
                            'deploy-static-content' => 'bin/magento setup:static-content:deploy',
                        ],
                        'package-build' => [
                            'class' => \ConductorAppOrchestration\Build\Command\PackageBuildCommand::class,
                            'options' => [
                                'excludes' => [
                                    '/app/etc/env.php',
                                ],
                            ],
                        ],
                        'save-build' => \ConductorAppOrchestration\Build\Command\SaveBuildCommand::class,
                    ],
                ],
            ],
        ],
    ],
];
