<?php

return [
    'application_orchestration' => [
        'application' => [
            'snapshot' => [
                'plans' => [
                    'default' => [
                        // @todo Provide default snapshot plan
                        'steps'    => [
                        ],
                        'excludes' => [
                            '/app/etc/env.php',
                        ],
                    ],
                ],
            ],
        ],
    ],
];
